<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="utf-8" />
	<title>FOLLOW Inteligencia en Movimiento</title>
	<meta name="description" content="Plataforma de Logística" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" />
	<!--end::Fonts-->
	<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/cropper/cropper.bundle.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.21.1/sweetalert2.min.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.21.1/sweetalert2.min.js"></script>

</head>

<head th:fragment="headmp">
	<meta charset="utf-8" />
	<title>FOLLOW Inteligencia en Movimiento</title>
	<meta name="description" content="Plataforma de Logística" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/cropper/cropper.bundle.css" rel="stylesheet" type="text/css" />
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.css'>
	<link href="/assets/css/plataforma-productos.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
</head>

<head th:fragment="headmpe">
	<meta charset="utf-8" />
	<title>FOLLOW Inteligencia en Movimiento</title>
	<meta name="description" content="Plataforma de Logística" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/cropper/cropper.bundle.css" rel="stylesheet" type="text/css" />
	<!--links slider-->
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.css'>
	<!--links galeria-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://k1ngzed.com/dist/swiper/swiper.min.css'>
	<link rel='stylesheet' href='https://k1ngzed.com/dist/EasyZoom/easyzoom.css'>
	<!--Estilos Productos-->
	<link href="/assets/css/plataforma-productos.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
</head>


<th:block th:fragment="menu_lateral_flota">
	<!--Inicio::Menú Lateral-->
		<div class="aside aside-left d-flex flex-column" id="kt_aside">
			<div class="aside-brand d-flex flex-column align-items-center flex-column-auto py-4 py-lg-8">
				<!--begin::Logo-->
				<a th:href="@{/dashboard/flota}" class="nav-link btn btn-icon btn-clean btn-icon-white btn-lg active">
	 				<img alt="Logo" src="/img/iconos/menu-lateral-main-flotas.png" class="logo-default max-h-40px" />
				</a>
			</div>
			<div class="aside-nav d-flex flex-column align-items-center flex-column-fluid pt-7 scroll ps ps--active-y"
				style="height: 143px; overflow: hidden;">
				<ul class="nav flex-column">
				</ul>
				<div class="ps__rail-x" style="left: 0px; bottom: 0px;">
					<div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
					</div>
				</div>
				<div class="ps__rail-y" style="top: 0px; height: 143px; right: 0px;">
					<div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 40px;">
					</div>
				</div>
			</div>
		</div>

</th:block>

<th:block th:fragment="menu_superior">
	<!--Inicio::Barra Superior-->
	<div id="kt_header" class="header bg-white header-fixed">
		<div class="container-fluid d-flex align-items-stretch justify-content-between">
			<div class="d-flex align-items-stretch mr-4">
				<h3 class="d-none text-dark d-lg-flex align-items-center mr-10 mb-0 font-weight-black" th:text="${titulo}">Dashboard</h3>

			</div>
			<div class="topbar">
			
				<!--Inicio::Quick Actions-->
				<div class="dropdown">
					<!--begin::Toggle-->
					<div class="topbar-item mr-3" data-toggle="dropdown" data-offset="10px,0px">
						<div class="btn btn-icon btn-clean btn-dropdown btn-lg">
							<img src="/img/icono-header-01.png" alt="Logo Follow">
						</div>
					</div>
					<!--end::Toggle-->
					<!--begin::Dropdown-->
					<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
						<!--begin:Header-->
						<!--end:Header-->
						<!--begin:Nav-->
						<!--end:Nav-->
					</div>
					<!--end::Dropdown-->
				</div>
				<!--Fin::Quick Actions-->
				<!--Inicio::Usuario-->
				<div class="topbar-item">
					<div class="btn btn-icon w-auto d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
						<div class="d-flex flex-column text-right pr-4 mr-3">
							<span class="text-muted font-weight-bold font-size-base d-none d-md-inline"
								th:text="${session.usuario.nombre}">Sean</span>
						</div>
						
						<div>
							<a href="/logout">
								<img src="/img/iconos/logout.png" alt="Logout">
							</a>
						</div>
					
					</div>
				</div>
				<!--Fin::Usuario-->
			</div>
		</div>
	</div>
	<!--Fin::Barra Superior-->
</th:block>

<th:block th:fragment="footer2">

	<div class="footer py-4 d-flex flex-lg-column" style="background-color: #636569 !important;">
		<div class=" container  d-flex flex-column flex-md-row align-items-center justify-content-between">
			<div class="text-dark order-2 order-md-1" style="width: 100%;">
				<span class="text-muted font-weight-bold copy-text">Inteligencia en movimiento © 2021</span>
				<a href="#" target="_blank" class="logo-footer"><img src="../../../img/logo-follow-white.png"></img></a>
			</div>
		</div>
	</div>

	<script src="/assets/plugins/global/plugins.bundle.js"></script>
	<script src="/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
	<script src="/assets/js/scripts.bundle.js"></script>
	<script src="/assets/plugins/custom/cropper/cropper.bundle.js"></script>
	<script src="/assets/js/pages/crud/forms/widgets/select2.js?v=7.1.7"></script>
	
</th:block>

<th:block th:fragment="notificaciones">
	<div class="card-welcome">
		<form>
			<!--begin::Header-->
			<div class="d-flex flex-column header-card-welcome bgi-size-cover bgi-no-repeat rounded-top">
				<!--begin::Title-->
				<h4 class="d-flex flex-center rounded-top">
					<span class="text-dark font-weight-black">Centro de novedades</span>
					<i class="flaticon2-notification pl-4 icon-xl text-dark"></i>
					<div class="dot text-white font-weight-bolder" th:text="${nuevas}"></div>
				</h4>
				<!--end::Title-->
				<!--begin::Tabs-->
				<ul class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-line-transparent-white nav-tabs-line-active-border-success mt-3 px-8" role="tablist" style="justify-content: space-around;">
					<li class="nav-item ">
						<a class="nav-link text-dark" data-toggle="tab" href="#topbar_notifications_events">Notificaciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active show text-dark" data-toggle="tab" href="#topbar_notifications_notifications">Alertas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" data-toggle="tab" href="#topbar_notifications_logs">Mensajes</a>
					</li>
				</ul>
				<!--end::Tabs-->
			</div>
			<!--end::Header-->
			<!--begin::Content-->
			<div class="tab-content">
				<div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
					<div class="navi navi-hover scroll my-4 ps" data-scroll="true" data-height="300" data-mobile-height="200" style="height: 300px; overflow: hidden;">
						<a th:each="a : ${alertas}" th:href="${a.url != null ? '../dashboard/notificaciones?id=' + a.id : '#'}" class="navi-item">
							<div class="navi-link">
								<div class="navi-icon mr-2">
									<img th:if="${a.tipo.texto == 'Emergencia'}" src="/img/iconos/notificacion-sos-r.png"  alt="Emergencia"> 
									<img th:if="${a.tipo.texto == 'Vencimiento en 7 días'}" src="/img/iconos/notificacion-vencimiento-7-r.png"  alt="Vencimiento en 7 días">
									<img src="/img/iconos/notificacion-vencimiento-r.png" th:if="${a.tipo.texto == 'Vencimiento'}" alt="Vencimiento">
									<img src="/img/iconos/notificacion-carga-rechazada.png" th:if="${a.tipo.texto == 'Carga rechazada'}" alt="Carga rechazada">
								</div>
								<div class="navi-text">
									<div class="font-weight-bold" th:text="${a.mensaje}"></div>
									<div class="text-muted" th:text="${a.alta}"></div>
								</div>
							</div>
						</a>
					<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px; height: 300px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 205px;"></div></div></div>
				</div>
				<div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
					<div class="navi navi-hover scroll my-4 ps" data-scroll="true" data-height="300" data-mobile-height="200" style="height: 300px; overflow: hidden;">
						<a th:each="n : ${notificaciones}" th:href="${n.url != null ? '../dashboard/notificaciones?id=' + n.id : '#'}" class="navi-item">
							<div class="navi-link">
								<div class="navi-icon mr-2">
									<img src="/img/iconos/notificacion-nueva-cotizacion.png" th:if="${n.tipo.texto == 'Nueva cotización'}" style="width:100%">
									<img src="/img/iconos/notificacion-nueva-carga.png" th:if="${n.tipo.texto == 'Nueva carga'}" style="width:100%">
									<img src="/img/iconos/notificacion-cambio-estado.png" th:if="${n.tipo.texto == 'Cambio de estado de carga'}" style="width:100%">
									<img src="/img/iconos/notificacion-nuevo-acuerdo.png" th:if="${n.tipo.texto == 'Nuevo acuerdo por carga'}" style="width:100%">
									<img src="/img/iconos/notificacion-nuevo-documento.png" th:if="${n.tipo.texto == 'Nuevo documento'}" style="width:100%">
									<img src="/img/iconos/notificacion-vencimiento-15-r.png" th:if="${n.tipo.texto == 'Vencimiento en 15 días'}" style="width:100%">
									<img src="/img/iconos/notificacion-solicitud-favorito.png" th:if="${n.tipo.texto == 'Nueva solicitud de Favorito'}" style="width:100%">
									<img src="/img/iconos/notificacion-favorito-aceptado.png" th:if="${n.tipo.texto == 'Aceptación de solicitud de Favorito'}" style="width:100%">
									<img src="/img/iconos/notificacion-viaje-finalizado.png" th:if="${n.tipo.texto == 'Viaje finalizado'}" style="width:100%">
								</div>
								<div class="navi-text">
									<div class="font-weight-bold" th:text="${n.mensaje}"></div>
									<div class="text-muted" th:text="${n.alta}"></div>
								</div>
							</div>
						</a>
						<!--end::Item-->
					<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
					<!--end::Nav-->
				</div>
				<!--end::Tabpane-->
				<!--begin::Tabpane-->
				<div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
					<!--begin::Nav-->
					<div class="d-flex flex-center text-center text-muted min-h-200px">Ya estás al día 
					<br>No hay nuevas notificaciones</div>
					<!--end::Nav-->
				</div>
				<!--end::Tabpane-->
			</div>
			<!--end::Content-->
		</form>
	</div>
</th:block>	
</html>